body{
    background-color: darkgray;
}
.user{
    width:28%;
    margin: 2.5% 2.5% ;
    

}
main{
    width: 960px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
img {
    width: 100%;
}
p {
    width: 100%;
    background-color: white;
    text-align: center;
    height: 10%;

    
}